body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 10;
    top: 15px;
    position: absolute;
    animation: fondo-inicial linear 1s;

}
@keyframes fondo-inicial {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
#menu {
    padding: 0;
    margin: 0;
    list-style-type:none;
    list-style-position:outside;
}

#title{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    margin-top: -12px
}

#title::backdrop{
    transition: 50ms;
    font-size: 0px;
}

a{
    font-size: 20px;
}

#menu a {
    transition: 60ms;
    width:150px;
    text-decoration:none;
    text-align:center;
    color:black;
    background-color: Lightyellow;
    padding:15px 60px 20px;
    border-right:1px solid black;
    border-left:1px solid black;
    display:ruby-base; 
    margin-top: -12px;
}

#menu li {
    float:left;
}
    
#menu a:hover {
    transition: 60ms;
    font-size: 35px;
    margin-bottom: 6px;
}

video{
    opacity: 50%;
    width: 100%;
}

#fondo{
    margin-top: 30px;
}

#s{
    margin: 0;
    padding: 0;
    color: black;
    margin-top: 40px;
    width: 100%;
    height: 90%;
    opacity: 99%;
    background-color: black;
}

#p{
    color: rgb(1, 23, 49);
}

img{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 91%;
    width: 6%;
    bottom: 92%;
    
}

#inicio-productos{
    position: absolute;
    margin-top: 2.5%;
}
