body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 10;
    top: 15px;
    position: absolute;

}
#menu {
    padding: 0;
    margin: 0;
    list-style-type:none;
    list-style-position:outside;
}

#title{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    margin-top: -12px
}

#title::backdrop{
    transition: 50ms;
    font-size: 0px;
}

a{
    font-size: 20px;
}

#menu a {
    width:150px;
    text-decoration:none;
    text-align:center;
    color:black;
    background-color: Lightyellow;
    padding:15px 60px;
    border-right:1px solid black;
    border-left:1px solid black;
    display:ruby-base; 
    margin-top: -12px;
}

#menu li {
    float:left;
}
    
#menu a:hover {
    transition: 60ms;
    font-size: 35px;
    margin-bottom: 6px;
}

img {
   margin: auto;
   display: block;
   position: fixed;
}


