body{
    overflow-y: scroll;
}
h1{
    font-size: 60px;
    margin-left: 0.5em;
}
h3{
    font-size: 30px;
    margin-left: 1.5em;
}
input{
    font-size: 25px;
    margin-left: 1.5em;
}
select{
    font-size: 25px;
    margin-left: 1em;
    padding-right: 2em;
}
button{
    font-size: 25px;
    margin-left: 1.5em;
}
table{
    transition: 300ms;
    margin-top: 1.5em;
    border-collapse: collapse;
    margin-left: 2.5em;
    
}
tr,td{
    padding-top: 8px;
    padding-left: 2.5em;
    padding-right: 1.5em;
    font-size: 21.2px;
    margin-left: initial;
}
th{
    text-align: left;
}
tr:hover{
    background-color: rgb(172, 172, 172);
}
#titleTable td{
    background-color: rgb(167, 167, 167);
}
#infoFactura{
    margin-top: 1.5em;
}