body{

    position: absolute;
    table-layout: auto;
}
a{
    text-decoration: none;
    color: black;
}
table{
    transition: 300ms;
    margin-top: 1.5em;
    border-collapse: collapse;
    margin-left: 1.5em;
    
}

tr,td{
    padding-top: 8px;
    padding-left: 2.5em;
    padding-right: 2em;
    font-size: 17.4px;
    margin-left: initial;
}
th{
    text-align: left;
}
tr:hover{
    background-color: rgb(172, 172, 172);
}
#title-table td{
    background-color: rgb(167, 167, 167);
}
#buttom-cuenta{
    margin-top: 4em;
    
}
#buttom-cuenta h2{
    margin-left: 1em;
    font-size: 25px;
}
#cuentaTotal{
    margin-left: 40em;
    padding-top: 1em;
}
#buttom-cuenta button{
    position: absolute;
    margin-top: 0em;
    margin-left: 19em;
    font-size: 17px;
}
#createC{
    position: absolute;
    margin-left: 23em;
    margin-top: 2.8em;
    font-size: 17px;
}#createP{
    position: absolute;
    margin-left: 30em;
    margin-top: 2.8em;
    font-size: 17px;
}
#buttom-cuenta input{
    margin-left: 4em;
    position: absolute;
    margin-top: 1.3em;
    margin-right: 2em;
    font-size: 17px;
    padding-right: 2em;
}
#cuentaAdmi{
    margin-left: 23em;
    position: absolute;
}
#tableContadorP{
    position: absolute;
    margin-left: 46em;
    margin-top: -1.2em;
}
#titleTable td{
    background-color: rgb(167, 167, 167);
}
#titleTable tr:hover{
    background-color: rgb(172, 172, 172);
}
#tableCategoria{
    position: absolute;
    margin-left: 45em;
    margin-top: 18em;
}
#titleTableC td{
    background-color: rgb(167, 167, 167);
}#titleTableC tr:hover{
    background-color: rgb(172, 172, 172);
}
#tableProducto{
    position: absolute;
    margin-left: 66em;
    margin-top: 18em;
}