body{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    left: 0;
    right: 10;
    top: 15px;
    position: absolute;
    animation: fondo-inicial linear 1s;
    background-color: rgb(29, 138, 138);
}
@keyframes fondo-inicial {
    0%{opacity: 0%;}
    50%{opacity: 10;}
}
#boxRegistro{
    background: linear-gradient(to bottom, rgb(33, 145, 145), rgb(206, 204, 204));
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: -2em;   
    margin-left: 21em;
}
#boxRegistro input{
    transition: 300ms;
    font-size: 29px;
    margin-top: 0.9em;
}
#boxRegistro select{
    transition: 300ms;
    font-size: 29px;
    margin-top: 0.9em;
}
#boxRegistro h1{
    color: rgb(73, 216, 156);
    font-size: 40px;
    padding-top: 1em;
}
#boxRegistro button{
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-size: 30px;
    margin-left: 0.8em;
}
#boxRegistro input:hover{
    transition: 300ms;
    box-shadow: 1px 1px 10px rgb(13, 47, 70);
}
#boxRegistro select:hover{
    transition: 300ms;
    box-shadow: 1px 1px 10px rgb(13, 47, 70);
}