body{
    margin: 0;
    padding: 0;
    left: 0;
    right: 10;
    top: 15px;
    position: absolute;
    animation: fondo-inicial linear 1s;
}
@keyframes fondo-inicial {
    0%{opacity: 0%;}
    50%{opacity: 10;}
}
table{
    transition: 300ms;
    margin-top: 1.5em;
    border-collapse: collapse;
    margin-left: 1.5em;
    
}

tr,td{
    padding-top: 8px;
    padding-left: 2.5em;
    padding-right: 2em;
    font-size: 17.4px;
    margin-left: initial;
}
th{
    text-align: left;
}
#message-connection{
    display: none;
}
ul,li{
    list-style-type:none;
    list-style-position:outside;
}
#box-producto-mas-vendidos{
    position: absolute;
    margin-top: 4em;
    margin-left: 1.5em;
    margin-right: 25em;
    padding-left: 1em;
}
#box-producto-mas-vendidos img{
    width: 200px;
    padding-left: 4em;
    padding-top: 2em;
}
#box-producto-mas-vendidos p{
    font-size: 20px;
}
#box-bebidas-mas-vendidos{
    position: absolute;
    margin-top: 23em;
    margin-right: 5em;
    margin-left: 20em;
    padding-left: 1em;
}
#box-bebidas-mas-vendidos p{
    font-size: 20px;
}
#box-image-left{
    position: absolute;
}
#box-image-left img{
    width: 200px;
    margin-top: 25em;
    margin-left: 4em;
}
#box-Pescados-Zarandeados{
    position: absolute;
    margin-top: 8em;
    margin-right: 5em;
    margin-left: -8em;
    padding-right: 13em;
    padding-left: -3em;
    box-shadow: 1px 1px 16px grey;
}
#contentProducto{
    padding-left: 1em;
    padding-top: 1em;
}
#contentProducto li{
    list-style: circle;
}


/* 
Top -> Bajar el contenido
Bottom -> Subir el contenido
Left -> Izquierda el contenido
Right -> Derecha el contenido
--------------------------------
Margin -> Mover afuera de la caja
Padding -> Lo que dentro de la caja
*/